/* 提高移动端滚动流畅度 */

/* ul 去除点的样式 */
ul {
  list-style: none;
}
/* 自适应css修改, 手机浏览器触发*/
@media screen and (max-width: 970px) {
  .el-header {
    padding: 0;
  }
  .el-main {
    padding: 0;
    padding-top: 18px;
  }
  /* 首页已发布投票展示 */
  div .el-card,
  .box-card {
    width: 100% !important;
    margin: 12px 0 0 0;
  }
  div .el-card,
  .box-card:last-child {
    margin-bottom: 16px;
  }
  /* 弹框在平板端显示 */
  .el-dialog {
    width: 72% !important;
  }
}
/* 卡片在手机移动端显示 */
@media screen and (max-width: 760px) {
  .box-card {
    width: 100%;
  }

  /* 弹框在手机端显示 */
  .el-dialog {
    width: 100% !important;
  }
}
